# --- Geral (Raiz, API e WEB) ---
node_modules/
**/node_modules/
dist/
**/dist/
**/dist-ssr/
build/
.env
.env.*
!.env.example

# --- Logs ---
*.log
logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# --- Sistema e IDEs ---
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Específicos do Nest (API) ---
api/coverage
api/.nyc_output
api/.temp
api/.tmp

# --- Específicos do Vue (WEB) ---
web/.local